/*.container {
    width: 60%;
    height: 400px;
    background: rgb(46, 209, 13);
    margin: auto;
    position: relative;
}
.header {
    width: 20%;
    height: 80px;
    background: rgb(179, 40, 15);
    position: absolute;
}*/


ul {
    display: flex;
    list-style: none;
}

ul li {
    padding: 20px;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li:hover {
    background: yellow;

}
ul li ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: rgb(228, 42, 42);
    position: absolute;
    left: 0;
    display: none;
}
ul li:hover ul{
    display: block;
}