.container {
    width: 90%;
    height: 400px;
    background: rgb(46, 209, 13);
    margin: auto;
   /* grid-template-columns: ifr;
    gap: 10px;*/
  
    
}
.header {
    width: 100%;
    height: 80px;
    background: rgb(26, 23, 223);
}
    
.main {
    width: 100%;
    height: 400px;
    background: brown;
    display: flex;
    justify-content: space-between;
}

.left {
   width: 40%;
    height: 100px;
    background: red;
    
}

.right {
 
    height: 100px;
    background: purple;
    width: 48%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.b1 {
 
    height: 180px;
    width: 100%;
  background: rgb(22, 144, 192);
    
}