.container{
    width: 60%;
    height: 900px;
    background-color: rgb(255, 255, 255);
    margin: auto; 
    border: 2px solid black;

    
}
.header{
    width:100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
display: flex;
justify-content: space-between;

}
.left{
    width: 450px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 30px 50px;
    border: 2px solid black;
    justify-content: space-between;
   
}
.right{
    width: 330px;
    height:300px;
    background-color: rgb(255, 255, 255);
    margin: 30px 50px;
     border: 2px solid black;
}
.l1{
    width: 400px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    margin: 20px 20px;
     display: flex;
     justify-content: space-between;
}
.l2{
     width: 400px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin: 10px 20px;
     border: 2px solid black;
}
.ll1{
width: 180px;
height: 80px;
background-color: rgb(255, 255, 255);
margin: 20px 20px;
border: 2px solid black;
}
.ll2{
    width: 180px;
height: 100px;
background-color: rgb(255, 255, 255);
margin: 20px 20px;
border: 2px solid black;
}
.r1{
       width: 200px;
    height: 95px;
    background-color: rgb(255, 255, 255);
    margin: 20px 20px;
     border: 2px solid black;
}
.r2{
       width: 200px;
    height: 75px;
    background-color: rgb(255, 255, 255);
    margin: 60px 20px;
    border: 2px solid black;
}
.middle{
    width: 800px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    margin: 60px 50px;
border: 2px solid black;
}
.last{
     width:100%;
    height: 210px;
    background-color: rgb(255, 255, 255);
display: flex;
justify-content: space-between;
}
.f1{
      width: 400px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin:10px 50px;
border: 2px solid black;
}
.f2{
      width: 550px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin: 10px 50px;
    border: 2px solid black;
}
.f3{
      width: 350px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    margin: 10px 50px;
    border: 2px solid black;
}
.ll{
    display: flex;
    margin: 30px 20px;
}