body {
    background-color: rgb(116, 111, 105);
}
.main {
    text-align: center;
}
.GFG {
    color: pink;
    font-size: 30px;
    font-weight: bolder;
}
#geeks {
    font-style: bold;
    font-size: medium;
}