.body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 75%;
    margin: auto;
    
}   
.header{
    width: 100%;
  background: gray;
  height: 50px;
}

.header-main{
width: 100%;
background: blueviolet;
height: 40px;
display: flex;
justify-content: space-between;
}
.logo{
    width: 15%;
    height: 40px;
    background: yellow;
    padding: 12px 0;

}
.logo.png{
    width: 100%;
    height: 100px;
   object-fit: cover;

}
.category{
    width: 15%;
    height: 40px;
    background: green;
}
.search{
    width: 20%;
    height: 40px;
    background: red;
}
.body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 75%;
    margin: auto;
    
}   
.header{
    width: 100%;
  background: rgb(224, 219, 219);
  height: 50px;

}

.header-main{
width: 100%;
background: blueviolet;
height: 40px;
display: flex;
justify-content: space-between;
}
.logo{
    width: 20%;
    height: 40px;
    background: yellow;

}
.category{
    width: 20%;
    height: 40px;
    background: green;
    
}
.search{
    width: 20%;
    height: 40px;
    background: red;
}
.menu{
    width: 20%;
    height: 40px;
    background: orange;
}